<body>
        <p>Hello <%= user_id %> , Choose a secondary image from
                <%= images %>
        </p>
        <form action="/v1/chooseSecondaryImage" method="POST">
            <input type="hidden" name="user_id"  value="<%= user_id %>" id="user_id" class='input_field'>
            <input type="image_id" name="image_id" id="image_id" class='input_field'>
            <input type="submit" value="send" id='input_submit' class='input_field'>
        </form>
</body>